<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<!--<div class="container-fluid mt-5" style="margin-bottom:100px">-->
<!--    <div class="row">-->
<!--        <h3 class="text-center text-light">Shopping Cart</h3>-->
<!--        <div class="col-7">-->
<!--            <table class="table table-bordered">-->
<!--                <tr>-->
<!--                    <th colspan="6" class="text-center fw-bold fs-3">Cart Items</th>-->
<!--                </tr>-->
<!--                {% for i in c %}-->
<!--                <tr>-->
<!--                    <td><img src="{{i.product.image.url}}" height="100px" width="100px"</td>-->
<!--                    <td>{{i.product.name}}</td>-->
<!--                    <td><b>Product ID:{{i.product.id}}</b><br>-->
<!--                    <b>Quantity:{{i.quantity}}</b><br>-->
<!--                        <b>Unit price:{{i.quantity}}*{{i.product.price}}</b><br></td>-->
<!--                    <td>Subtotal:{{i.subtotal}}</td>-->
<!--                    <td>-->
<!--                        {% if i.product.stock > 0 %}-->
<!--                        <a href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus me-2" style="color:#3a9189;font-size:20px;"></i></a>-->
<!--                        <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"style="color:#3a9189;font-size:20px;"></i></a>-->
<!--                         <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash me-2"style="color:#3a9189;font-size:20px;"></i></i></a>-->
<!--                        {% else %}-->
<!--                         <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"style="color:#3a9189;font-size:20px;"></i></a>-->
<!--                         <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash me-2"style="color:#3a9189;font-size:20px;"></i></i></a>-->
<!--                        {% endif %}-->
<!--                    </td>-->



<!--                </tr>-->
<!--                {% endfor %}-->
<!--            </table>-->
<!--        </div>-->
<!--        <div class="col-4" style="position:relative;">-->
<!--             <table class="table table-bordered">-->
<!--                <tr>-->
<!--                    <th colspan="4" class="text-center fw-bold fs-3">Check Out</th>-->
<!--                </tr>-->
<!--                 <tr>-->
<!--                     <td colspan="4">TOTAL AMOUNT:{{total}}</td>-->
<!--                 </tr>-->

<!--            </table>-->
<!--            <a class="btn btn-secondary" href="{% url 'cart:orderform' %}">Place Order</a>-->
<!--            <a class="btn btn-secondary" href="{% url 'shop:allcat' %}" style="position:absolute;right:0;">Continue Shopping</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:100px">
    <div class="row">
        <h3 class="text-center text-light">Shopping Cart</h3>
        <div class="col-7">
            <table class="table table-bordered">
                <tr>
                    <th colspan="6" class="text-center fw-bold fs-3">Cart Items</th>
                </tr>
                {% for i in c %}
                <tr>
                    <td><img src="{{i.product.image.url}}" height="100px" width="100px"</td>
                    <td>{{i.product.name}}</td>
                    <td><b>Product ID:{{i.product.id}}</b><br>
                    <b>Quantity:{{i.quantity}}</b><br>
                        <b>Unit price:{{i.quantity}}*{{i.product.price}}</b><br></td>
                    <td>Subtotal:{{i.subtotal}}</td>
                    <td>
                        {% if i.product.stock > 0 %}
                        <a href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus me-2" style="color:#3a9189;font-size:20px;"></i></a>
                        <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"style="color:#3a9189;font-size:20px;"></i></a>
                         <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash me-2"style="color:#3a9189;font-size:20px;"></i></i></a>
                        {% else %}
                         <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"style="color:#3a9189;font-size:20px;"></i></a>
                         <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash me-2"style="color:#3a9189;font-size:20px;"></i></i></a>
                        {% endif %}
                    </td>



                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4" style="position:relative;">
             <table class="table table-bordered">
                <tr>
                    <th colspan="4" class="text-center fw-bold fs-3">Check Out</th>
                </tr>
                 <tr>
                     <td colspan="4">TOTAL AMOUNT:{{total}}</td>
                 </tr>

            </table>
            <a class="btn btn-secondary" href="{% url 'cart:orderform' %}">Place Order</a>
            <a class="btn btn-secondary" href="{% url 'shop:allcat' %}" style="position:absolute;right:0;">Continue Shopping</a>
        </div>
    </div>
</div>

{% endblock %}