{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mt-1" style="margin-bottom:30px">
    <img src="{% static 'images/banner_2.jpg'%}" height="450px" width="100%">
</div>
<div class="container-fluid"style="margin-bottom:100px">
    <h3 class="text-center text-light fw-bold">Our Collections</h3>
    <p style="text-align:justify;line-height:2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
</div>
<div class="container-fluid"style="margin-bottom:100px">
            <div class="row">
                {% for i in c %}
                   <div class="col-sm-4">
                          <div class="card rounded" style="width: 25rem;border-width:2px;border-color:#3a9189;">
                             <img src="{{i.image.url}}" width="100%" height="250px" class="card-img-top" alt="...">
                               <div class="card-body">
                                  <h5 class="card-title text-center">{{i.name}}</h5>

                                  <a href="{% url 'shop:products' i.id %}" style="position:relative;left:22%;width:200px;" class="btn btn-success">Products</a>
                               </div>
                          </div>
                   </div>
                {% endfor %}
            </div>
</div>

{% endblock %}