
{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom:100px">
<h2 class="text-center">Login.....</h2>

    <form method="POST">
      {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter Username">
</div>
<div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control"  name="p"  placeholder="Enter Password">
</div>



<div class="mb-3">

  <input type="submit" class="form-control">
</div>
</form></center>
</div>


{% endblock %}
