{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container mt-5">
    <h3 class="text-center text-light">Name of the Customer:{{u}}</h3>
    {% for i in o %}
    <div class="row">


        <div class="col-4 mt-3 ms-5 me-5"><img src="{{i.product.image.url}}" height="250px" width="250px"></div>
        <div class="col-4 mt-3">
            <h4>Productname:{{i.product.name}}</h4>
            <h4>Price:{{i.product.price}}</h4>
             <h4>Quantity:{{i.product.no_of_items}}</h4>
             <h4>Delivery_address:{{i.address}}</h4>
             <h4>Phone:{{i.phone}}</h4>
             <h4 class="text-light fs-italic">Ordered_on:{{i.ordered_date}}</h4>
             <h4 class="text-light fs-italic">Delivery_status:{{i.product.name}}</h4>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}