{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px">
<h2 class="text-center">Enter the Details.....</h2>

    <form method="POST">
      {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Address</label>
  <input type="text" class="form-control" name="a" placeholder="Enter Address">
</div>
<div class="mb-3">
  <label  class="form-label">Phone Number</label>
  <input type="number" class="form-control"  name="p"  placeholder="Enter Phonenumber">
</div>
        <div class="mb-3">
  <label  class="form-label">Account Number</label>
  <input type="number" class="form-control"  name="n"  placeholder="Enter Accountnumber">
</div>


<div class="mb-3">

  <input type="submit" class="form-control">
</div>
</form></center>
</div>