{% extends 'base.html' %}
{% block content %}
<center>
    <div class="container-fluid">
        <h3 class="text-center">You have searched for <span class="text-warning">{{q}}</h3>
    </div>
</center>
<div class="container-fluid"style="margin-bottom:100px">
            <div class="row">
                {% for i in p %}
                   <div class="col-sm-4">
                          <div class="card rounded" style="width: 25rem;border-width:2px;border-color:#3a9189;">
                             <img src="{{i.image.url}}" width="100%" height="250px" class="card-img-top" alt="...">
                               <div class="card-body">
                                  <h5 class="card-title text-center">{{i.name}}</h5>

                                  <a href="{% url 'shop:detail' i.id %}" style="position:relative;left:22%;width:200px;" class="btn btn-success">Products</a>
                               </div>
                          </div>
                   </div>
                {% endfor %}
            </div>
</div>
{% empty %}
<h5 class="text-center text-danger">No Result found</h5>
{% endblock %}